export default {
  sideData: [
    {{#menuData}}
    { 
      name: '{{&name}}',
      path: '{{&path}}',
      children: [
        {{#children}}
        { 
          name: '{{&name}}',
          path: '{{&path}}',
        }, 
        {{/children}}
      ]
    }, 
    {{/menuData}}
  ]
}