{
  "name": "@dtux/{{classify}}-{{path}}",
  "version": "1.0.0",
  "description": "{{nameC}}",
  "homepage": "",
  "author": "dtux",
  "main": "index.js",
  "license": "ISC",
  "publishConfig": {
    "access": "public",
    "registry": "http://registry.npmjs.com"
  },
  "repository": {
    "type": "git",
    "url": "https://github.com/dtux-kangaroo/ko-resouce/tree/master/react-resource/{{classify}}s/{{path}}"
  },
  "keywords": [
    "ko",
    "react",
    "{{classify}}"
  ],
  "dependencies": {
    
  },
  "{{classify}}Config": {
    "name": "{{path}}",
    "title": "{{nameC}}",
    "categories": [
      "{{category}}"
    ],
    "screenshot": "https://raw.githubusercontent.com/dtux-kangaroo/roo-config/master/{{classify}}-covers/{{path}}.png"
  },
  "scripts": {
    "test": "echo \"Error: no test specified\" && exit 1"
  },
  "gitHead": "546e0980b33ba796d56a0b39b7105c650ac84592"
}